./bin/mercure.db
./bin/Caddyfile.dev
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor
/vendor/
/web/bundles/
/node_modules/*
/nbproject/
/.idea/
bin/.sqlpwd
node_modules
npm-debug.log
/web/frontend/*
/web/frontend_webpack/*
/web/backoffice/*
doctrine-migrations/2018/10/Version20181010100408.php
web/uploads/frontend/*
/web/tv/
/.php_cs.cache

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
