includes:

parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    scanDirectories:
        - src
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
#        objectManagerLoader: app/build/phpstan/doctrine-orm-bootstrap.php
        repositoryClass: src/Entity
    universalObjectCratesClasses:
        - Symfony\Component\Validator\Constraint
        - Ratchet\ConnectionInterface
