html,
body {
    height: 100vh;
    width: 100vw;
}

.main-box {
    max-height: 75%;
    height: 75%;
}

.scroll-box {
    height: 68.7vh;
    max-height: 100%;
}

@media (max-width:1256px) {
    .scroll-box {
        height: 64.7vh;
    }
}
